/**
 * @repository https://jayelkaake.github.io/refereejs/
 * @author Jay El-Kaake <najibkaake@gmail.com>
 */

.input-referee {
  position: absolute;
  font-size: 10px;
  text-align: right;
  width: 0;
}

.input-referee .indicator-content {
  width: 190px;
  padding: 4px;
}

/* These css classes depend on the indicator being displayed: */
.input-referee.chars-left {
  color: #adadad;
}
/* These css classes depend on the indicator being displayed: */
.input-referee.warning-threshold {
  color: #ff690a;
}

.input-referee.too-long {
  color: red;
}
.input-referee.too-short {
  color: red;
}

.input-referee .indicator-content.pad-number {
  padding-right: 30px;
}
