/**
 * @repository https://jayelkaake.github.io/refereejs/
 * @author Jay El-Kaake <najibkaake@gmail.com>
 */

.input-referee {
  position: absolute;
  font-size: 10px;
  color: red;
  text-align: right;
  width: 0;
}

.input-referee .indicator-content {
  width: 190px;
  padding: 4px;
}

/* These css classes depend on the indicator being displayed: */
.input-referee.chars-left {
  color: #ff690a;
}
.input-referee.too-long {
  /* Placeholder - You can add custom classes for when the over limit indicator shows. */
}
.input-referee.too-short {
  /* Placeholder - You can add custom classes for when the under limit indicator shows. */
}

.input-referee .indicator-content.pad-number {
  padding-right: 30px;
}
